- hosts: localhost
  tasks:
  - name: "install vscode extensions"
    shell: "code --install-extension {{item}}"
    with_items: "{{ vscode_extensions }}"
    register: vscode_result
    changed_when: "'already installed' not in vscode_result.stdout"

  
